.home {
  min-height: 89vh;
  background-color: red;
  background-image:linear-gradient(rgba(243, 239, 239, 0.7), rgba(13, 13, 13, 0)), url("https://siol.net/media/img/f6/2a/347bbe66484e26658cb0-univerza-na-primorskem.jpeg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.hero-section {
  display: flex;
  margin-left: 10%;
  padding: 80px 80px 40px 80px;
}

.hero-content {
  max-width: 650px;
  text-align: left;
}

.hero-label {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.hero-content h1 {
  font-size: 64px;
  line-height: 1.05;
  color: rgb(31, 33, 52);
  margin-bottom: 20px;
}


.hero-text {
  font-size: 20px;
  line-height: 1.6;

  max-width: 560px;
}

.cards-section {
  padding: 20px 80px 80px 80px;
  margin-left: 10%;
}

.cards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.cards-header h2 {
  font-size: 28px;
  color: black;
}

.arrow-buttons {
  display: flex;
  gap: 12px;
}

.arrow-buttons button {
  width: 46px;
  height: 46px;
  border: 1px solid var(--border);
  border-radius: 50%;
  background-color: white;
  color: var(--primary);
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.arrow-buttons button:hover {
  background-color: var(--primary);
  color: white;
}

.arrow-buttons button:not(:disabled):hover {
  background-color: var(--primary);
  color: white;
}
.cards-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.item-card {
  height: 230px;
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 22px;

  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 12px;
  
  

  transition: 0.2s ease;
}

.item-card:hover {
  transform: translateY(-8px);
}


.item-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}


.item-card p {
  font-family: var(--font-heading);
  font-size: 20px;
  font-weight: 600;
  color: rgb(21, 19, 32);
}



.action-btn {
  padding: 14px 24px;
  background-color: #242938;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.2s;
  margin-left: 3%;
}

.action-btn:hover {
  background-color: #5a6788;
  transform: translateY(-2px);
}